<div id="<%= dom_id book %>">
  <p>
    <strong>Título:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.autor %>
  </p>

  <p>
    <strong>Nota</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Comentários</strong>
    <%= book.description %>
  </p>

</div>
